<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.sharemiracle.mapper.ModelDataMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into share_miracle.t_model(id,name,user_id,is_public,model_url,create_time,update_time)
        values
            (#{id},#{name},#{userId},#{isPublic},#{modelUrl},#{createTime},#{updateTime})
    </insert>

    <update id="update">
        update share_miracle.t_model
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="id != null">id = #{id},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="isPublic != null">is_public = #{isPublic},</if>
            <if test="modelUrl != null">model_url = #{modelUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateDatasetOrgan">
        insert into  share_miracle.r_dataset_organization ( dataset_id, organization_id)
        VALUES (#{datasetId}, #{organId});
    </update>

    <select id="selectById" resultType="com.sharemiracle.entity.Model">
        select model_url from share_miracle.t_model where id = #{id}
    </select>

    <select id="selectAll" resultType="java.lang.Long">
        select model_id from share_miracle.r_model_organization,share_miracle.r_user_organization
        where status = 1 and (authority = 1 or authority = 0) and share_miracle.r_user_organization.organization_id = share_miracle.r_model_organization.organization_id and user_id = #{id}
    </select>


</mapper>
