<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.sharemiracle.mapper.ModelOrganMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into share_miracle.r_model_organization(id, model_id, organization_id)
        values
            (#{id},#{modelId},#{organizationId})
    </insert>


</mapper>
